{% extends "game/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_filters %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/game/main.css' %}">
{% endblock %}
{% block head_title %}{% trans "Fight" %}{% endblock %}
{% block main %}
{% if error %}
<div class="message">
    <h1>{{error}}</h1>
</div>
{% endif %}
<div class="w-100 h-100 p-3 d-flex flex-column justify-content-between">
    <div class="d-flex justify-content-between h-100">
        {% include "components/hero.html" %}
        <div class="m-4 p-2 d-flex w-100 h-100 flex-column justify-content-center align-items-center">
            <div style="width: 300px; min-height: 260px;" class="rounded bg-dark d-flex justify-content-center align-items-center">
                <div>
                    <div class="countdown_timer" style="margin-bottom: 1em;">{% trans "Cуперник очікує вашої атаки." %}</div>
                    <form method="post" class="attack_form w-100 d-flex flex-column align-items-center gap-2">
                        {% csrf_token %}
                        <div class="d-flex gap-5">
                            {{ form|crispy }}
                        </div>
                        <button class="btn btn-outline-warning attack_submit" type="submit">{% trans 'Вперед' %}</button>
                    </form>
                </div>
            </div>
            <div class="w-100">
                <hr>
                <div class="logs">
                    <h1 class="text-center">{% trans "Логи бою" %}</h1>
                    <div class="logs_chat p-4 overflow-auto" style="height: 200px;">
                        {% for log in request.session.logs %}
                        <span>{{log}}</span>
                        {% endfor %}
                    </div>
                </div>
                <hr>
            </div>
        </div>
        {% include "components/user_enemy.html" %}
        {% block map %}
        
        {% endblock %}
    </div>
    {% block location %}
    
    {% endblock %}
</div>
{% endblock %}

{% block script %}
<script>
    // VARIABLES
    const userId = {{ request.user.id }};
    const room_id = {{ room.id }};
    const first_player = {{ room.first_player.id }};
    {% if room.second_player %}
    const second_player = {{ room.second_player.id }};
    {% endif %}
    const enemy = "{{ enemy }}";
    const wsStart = 'ws://' + window.location.host + '/battle/' + room_id + '/' + userId + '/';
    const socket = new WebSocket(wsStart);
    const waiting_both_attack = "{% trans 'Cуперник очікує вашої атаки.' %}";
    const attack_process = "{% trans 'Процес атаки... Очікуйте.' %}";
    const attack_countdown = "{% trans 'На атаку залишилося: ' %}";
    const finish_redirect = "{% url 'battle_result' room.id %}";

    const csrftoken = "{{csrf_token}}";
    const enemy_effects = document.querySelector('.enemy_effects');
    const user_effects = document.querySelector('.user_effects');
    
    const enemy_hp = document.querySelector('.enemy_hp');
    const user_hp = document.querySelector('.user_hp');

    
    const enemy_str = document.querySelector('.str_enemy');
    const user_str = document.querySelector('.user_str');
    const enemy_ag = document.querySelector('.ag_enemy');
    const user_ag = document.querySelector('.user_ag');

    const logs_chat = document.querySelector('.logs_chat');

    function setEffects(enemy, user) {
        enemy_str.innerHTML = `{% trans "Сила: " %} ${enemy.str.total} (${enemy.str.hero}${enemy.str.sum >= 0 ? "+"+enemy.str.sum : enemy.str.sum})`
        enemy_ag.innerHTML = `{% trans "Спритність: " %} ${enemy.ag.total} (${enemy.ag.hero}${enemy.ag.sum >= 0 ? "+"+enemy.ag.sum : enemy.ag.sum})`
        user_str.innerHTML = `{% trans "Сила: " %} ${user.str.total} (${user.str.hero}${user.str.sum >= 0 ? "+"+user.str.sum : user.str.sum})`
        user_ag.innerHTML = `{% trans "Спритність:: " %} ${user.ag.total} (${user.ag.hero}${user.ag.sum >= 0 ? "+"+user.ag.sum : user.ag.sum})`
        
        var user_effects_txt = ""
        var enemy_effects_txt = ""
    
        if (enemy.effects.length > 0) {
            enemy.effects.forEach(item => {
                enemy_effects_txt += `<span>${item.name}: ${item.desc} | ${item.deleted_time}</span><br>`
            })
        } else {
            enemy_effects_txt = '<span>{% trans "Немає жодних ефектів накладених на героя." %}</span>'
        }
        if (user.effects.length > 0) {
            user.effects.forEach(item => {
                user_effects_txt += `<span>${item.name}: ${item.desc} | ${item.deleted_time}</span><br>`
            })
        } else {
            user_effects_txt = '<span>{% trans "Немає жодних ефектів накладених на героя." %}</span>'
        }
    
        user_effects.innerHTML = user_effects_txt
        enemy_effects.innerHTML = enemy_effects_txt
    }
    
    function setHp(user_health, enemy_health) {
        user_hp.innerHTML = `{% trans "здоров'я:" %} ${user_health}`;
        user_hp.ariaValueNow = user_health;
        user_hp.parentElement.querySelector(".progress-bar").style.width = `${user_health}%`;
        
        enemy_hp.innerHTML = `{% trans "здоров'я:" %} ${enemy_health}`;
        enemy_hp.ariaValueNow = enemy_health;
        enemy_hp.parentElement.querySelector(".progress-bar").style.width = `${enemy_health}%`;
    }
    
    function addLog(logs) {
        var add_text = `<span>${logs}</span><br>`;
        logs_chat.innerHTML += add_text;
        logs_chat.scrollTop = logs_chat.scrollHeight;
    }
    // VARIABLES
</script>
<script src="{% static 'js/battle/online_handling.js' %}"></script>
{% endblock %}