{% extends "game/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/game/main.css' %}">
{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Game Main" %}{% endblock %}

{% block main %}
{% if request.GET.msg %}
<div class="message">
    <h1>{{request.GET.msg}}</h1>
</div>
{% endif %}
<div class="w-100 h-100 p-3 d-flex flex-column justify-content-between">
    <div class="d-flex justify-content-between h-100">
        {% include "components/hero.html" %}
        {% block map %}
        <div class="navigation">
            <div class="map">
                <img src="{% static 'img/locations/main_loc.jpg' %}" class="image_map"/>
            </div>
            <div class="d-flex justify-content-center">
                <a href="{% url 'city_loc' %}" class="btn btn-outline-light mt-3">{% trans "Йти до міста" %}</a>
            </div>
        </div>
        {% endblock %}
    </div><hr/>
    {% block location %}
    <div class="location_name d-flex flex-column justify-content-end align-items-center h-100">
        {% trans "Ви зараз знаходитесь на головній локації"%}
    </div>
    {% endblock %}
    <hr/>
    {% block low %}
    <div class="h-100 d-flex gap-4">
        <div class=" w-100 d-flex gap-2 flex-column">
            <div class="base_input chat_block w-100 h-100 text-light" style="min-height: 150px; max-height: 150px; overflow: auto; padding: 0.5em;">
            </div>
            <div class="d-flex gap-1">
                <input class="base_input chat w-100 text-light" placeholder="{% trans 'Поділіться чимось цікавим з іншими гравцями.' %}"/>
                <button class="btn btn-outline-warning sent">{% trans 'Відправити' %}</button>
            </div>
        </div>
        <div class="d-flex flex-column" style="width: 250px; overflow: auto;">
            <div class="header_connected_users">{% trans 'Користувачі локації' %}</div>
            <div class="body_connected_users w-100 h-100">
            </div>
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}

{% block script %}
<script>
    const roomName = '{{ request.resolver_match.url_name }}';
    const userId = '{{ request.user.id }}';
    const wsStart = 'ws://' + window.location.host + '/chat/' + roomName + '/' + userId + '/';
    const socket = new WebSocket(wsStart);
    const usersBlock = document.querySelector('.body_connected_users')
    const chatBlock = document.querySelector('.chat_block')
    const users = []

    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        if (data.users) {
            let innetHtml = "";
            Object.keys(data.users).forEach(key =>{
                innetHtml += `<div>${data.users[key].name} [${data.users[key].lvl}]</div>`;
            })
            usersBlock.innerHTML = innetHtml;
        } else if (data.message) {
            console.log(data.message)
            chatBlock.innerHTML += `<div>${data.message.user.name} [${data.message.user.lvl}] сказав – ${data.message.message}</div>`
            chatBlock.scrollTop = chatBlock.scrollHeight;
        }
    };

    document.querySelector('.chat').onkeyup = function(event) {
        if (event.keyCode === 13) {
            document.querySelector('.sent').click();
        }
    };

    document.querySelector('.sent').onclick = function() {
        const messageInputDom = document.querySelector('.chat');
        const message = messageInputDom.value;
        if (message != "") {
            messageInputDom.value = '';
            const data = {
                'message': message
            };
            socket.send(JSON.stringify(data));
        }
    };
</script>
<script>
    var elem = document.querySelector(".message");
    elem.addEventListener("click", () => {
        elem.classList.add("hidden");
    });
</script>
{% endblock %}