{% load static %}
{% load i18n %}
<div class="micro_map">
    {% for row in map %}
    <div class="d-flex">
        {% for cell in row %}
            {% if cell.pos == 1 %}
                <img src="{% static 'img/map/empty_loc.png' %}" width="40px" height="40px" />
            {% elif cell.pos == 6 %}
                <img src="{% static 'img/map/you.png' %}" width="40px" height="40px" />
            {% elif cell.pos == 2 %}
                <img src="{% static 'img/map/leave.png' %}" width="40px" height="40px" />
            {% elif cell.pos == 3 %}
                <img src="{% static 'img/map/treasure.png' %}" width="40px" height="40px" />
            {% elif cell.pos == 4 %}
                <img src="{% static 'img/map/fight.png' %}" width="40px" height="40px" />
            {% elif cell.pos == 5 %}
                <img src="{% static 'img/map/boss.png' %}" width="40px" height="40px" />
            {% else %}
                <img src="{% static 'img/map/empty.png' %}" width="40px" height="40px" />
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
</div>
<div class="navigation">
    <div class="map">
        <img src="{{ img }}" class="image_map"/>
    </div>
    <div class="mt-3">
        {% if a %}
        <a href="{{a}}" class="active_bottom btn btn-warning btn-sm" style="min-width: 30px;">↓</a>
        {% else %}
        <a class="disable btn btn-outline-dark btn-sm" style="min-width: 30px;">↓</a>
        {% endif %}
        {% if r %}
        <a href="{{r}}" class="active_left btn btn-warning btn-sm" style="min-width: 30px;">←</a>
        {% else %}
        <a class="disable btn btn-outline-dark btn-sm" style="min-width: 30px;">←</a>
        {% endif %}
        {% if l %}
        <a href="{{l}}" class="active_right btn btn-warning btn-sm" style="min-width: 30px;">→</a>
        {% else %}
        <a class="disable btn btn-outline-dark btn-sm" style="min-width: 30px;">→</a>
        {% endif %}    
        {% if b %}
        <a href="{{b}}" class="active_top btn btn-warning btn-sm" style="min-width: 30px;">↑</a>
        {% else %}
        <a class="disable btn btn-outline-dark btn-sm" style="min-width: 30px;">↑</a>
        {% endif %}
    </div>
    {% if can_leave and user.current_dungeon == 1 %}
        <div class="d-flex gap-4 mt-3">
            <a class="btn btn-outline-light btn-sm" href="{% url 'dungeon_loc' %}">{% trans "Покинути підземілля" %}</a>
        </div>
    {% elif can_leave and user.current_dungeon > 1 %}
        <div class="d-flex gap-4 mt-3">
            <a class="btn btn-outline-light btn-sm" href="{% url 'change_dungeon' request.resolver_match.url_name %}">{% trans "Спуститися на рівень нижче" %}</a>
        </div>
    {% endif %}
</div>  
<script>
    const active_bottom = document.querySelector('.active_bottom')
    const active_top = document.querySelector('.active_top')
    const active_left = document.querySelector('.active_left')
    const active_right = document.querySelector('.active_right')
    const body = document.querySelector('body')
    body.onkeyup = function(event) {
        switch (event.keyCode) {
            case 83:
                active_bottom.click()
                break;
            case 87:
                active_top.click()
                break;
            case 68:
                active_right.click()
                break;
            case 65:
                active_left.click()
                break;
        }
        if (event.keyCode === 83) {
            active_bottom.click()
        }
    };
</script>