{% extends "game/main.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Dungeon" %}{% endblock %}
{% block map %}
{% include "game/dungeon/component/map.html" %}
{% endblock map %}
{% block location %}
<div class="d-flex justify-content-start align-items-center">
</div>
<div class="location_name d-flex flex-column justify-content-start align-items-center h-100">
    {% trans "Рівень підземелля | " %}{{user.dungeon.lvl}}
</div>
{% endblock %}
{% block low %}
<div class="w-100 h-100 d-flex flex-column align-items-center">
    <h3>{% trans "Щоб пройти далі треба перемогти головного командиру захисників першого рівня?" %}</h3>
    <p>{% trans "Готові до бою?" %}</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-outline-light">{% trans "Готовий!" %}</button>
    </form>
</div>
{% endblock %}